SESSION_TIMEOUT_HOURS =
DATABASE_URL=
DIRECT_URL=


# JWT Secret for authentication
JWT_SECRET=

# Configuración de Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET_IMAGES=

PRINTER_INTERFACE=
PRINTER_NAME=